body{
    background-image:url("bg9.jpg");
    background-size:100%;
    position: absolute;
    right: 250px;
    left:400px;
    width: 500px;
    bottom: 200px;
    padding:70px;
    border: 5px solid red;
    font-style:sans-serif;
    font-size:52px;
    background-color:lightgrey;

}
